.cartTitle {
  text-align: center;
  margin-bottom: 80px !important;
}

.cartList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.cartContainer {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: auto;
  gap: 40px;
}

.cartProductItem {
  padding: 16px 24px;
  background: var(--gray-gradient);
  display: flex;
  border-radius: 24px;
  justify-content: space-between;
  align-items: center;
}

.cartInfo {
  padding: 16px 24px;
  background: var(--gray-gradient);
  border-radius: 24px;
}

.cart_imageContainer {
  width: 120px;
  height: auto;
  overflow: hidden;
  border-radius: 16px;
}

.cartItem_imageContainer {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart_mainInfo {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}

.quantityContainer {
  display: flex;
  flex-direction: column;
}

.quantityCounter {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 14px 15px;
  border-radius: 8px;
  background: var(--gray-gradient);
  margin-top: 8px;
  width: 130px;
}

.additionalInfo {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  align-items: center;
}

.mobileRemove {
  display: none;
}

.cartInfo_titlesContainer {
  margin: 30px 0 20px 0;
}

.cartInfo_titles {
  display: flex;
  justify-content: space-between;
}

.cartInfo_titles:nth-child(1) {
  margin-bottom: 10px;
}

.salePrice {
  font-size: 18px;
  font-weight: regular;
}

.totalPrice {
  font-size: 24px;
  font-weight: semibold;
}

.saleBtn {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .cartContainer {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1056px) {
  .cartProductItem {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .cart_mainInfo {
    width: 100%;
  }

  .cart_mainInfo {
    grid-template-columns: auto 1fr auto;
    gap: 16px;
  }

  .cart_imageContainer {
    width: 60px;
  }

  .additionalInfo {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .mobileRemove {
    display: block;
  }

  .desktopRemove {
    display: none;
  }
}
