.basic {
  text-align: center;
  font-size: var(--medium-txt);
  border-radius: 16px;
  transition: 0.3s ease;
}

.blackButton {
  background-color: transparent; /* bg-blue-500 */
  color: var(--white-90);
  border: 1px solid var(--white-10);
  padding: 16px;
}

.greenButton {
  background: var(--green-gradient);
  color: var(--black-100);
  border: 1px solid var(--white-10);
  padding: 16px;
}

.buttonRound {
  background: var(--gray-gradient);
  font-size: var(--extra-big-txt);
  border-radius: 40px;
  padding: 24px 0;
}

.basic:hover {
  background-color: transparent;
  border: 1px solid rgba(36, 210, 57, 1);
}
