.aboutUsContainer {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  gap: 175px;
}

.aboutUsContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutUsContainer_title {
  font-size: 220px;
  line-height: 130%;
  background: linear-gradient(180deg, #d1d5db 0%, rgba(20, 20, 20, 0.95) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media screen and (max-width: 1980px) {
  .aboutUsContainer {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    gap: 80px;
  }

  .aboutUsContainer_title {
    font-size: 200px;
  }
}

@media screen and (max-width: 1770px) {
  .aboutUsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 80px;
    align-items: center;
  }

  .aboutUsContainer_title {
    font-size: 200px;
  }
}
