.form_input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--white-6);
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 16px;
}

.form_container {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 1fr;
  gap: 80px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.test {
  border: 1px solid red;
}

.order_details_list {
  margin: 30px 0px 36px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.order_details {
  padding: 24px;
  border-radius: 24px;
  background-color: var(--white-6);
}

.order_details_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_details_title {
  display: block;
}

.order_details_change {
  display: block;
  color: var(--main-green);
}

.order_item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 36px;
}

@media screen and (max-width: 1570px) {
  .form_container {
    gap: 24px;
  }
}
