.prdouct_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 80px;
  width: 100%;
}

.productImageCarouselContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 24px;
  height: 600px;
}

.thumbsGrid {
  width: 100%;
}

.previewGrid {
  width: 100%;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_price {
  margin-bottom: 24px;
}

.productButtonsContainer {
  display: flex;
  margin-bottom: 20px;
}
.productButtonsContainer button:nth-child(1) {
  margin-right: 20px;
}

.tab_btn_list {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.btn_active {
  border: 1px solid rgba(36, 210, 57, 1);
}

.in_sales_container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 20px 0 60px 0;
}

.in_sales_circle {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  display: block;
}

.in_sales_circle_red {
  background-color: red;
}

.in_sales_circle_green {
  background-color: var(--main-green);
}

.slide_gallery_image_container {
  border-radius: 12px;
  overflow: hidden;
}

.slide_main_image_container {
  border-radius: 24px;
  overflow: hidden;
}

/* .specifications_row {
  border-bottom: 1px solid var(--white-4);
} */

.specifications_table tr:not(:last-child) td {
  border-bottom: 1px solid var(--white-4);
}

.specifications_cell {
  padding: 12px 24px;
}

.specifications_cell:nth-child(1) {
  width: auto;
}
.specifications_table {
  width: 100%;
  background-color: var(--white-6);
  border-radius: 24px;
}

@media screen and (max-width: 1200px) {
  .prdouct_grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
  }
  .productImageCarouselContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    gap: 24px;
    height: auto;
  }

  .productImageCarouselContainer div:nth-child(1) {
    grid-row: 2;
  }
  .productImageCarouselContainer div:nth-child(2) {
    grid-row: 1;
  }

  .in_sales_container {
    margin-bottom: 25px;
  }

  .productButtonsContainer {
    display: flex;
    flex-direction: column;
  }
  .productButtonsContainer button:nth-child(1) {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .tab_btn_list {
    display: flex;
    gap: 10px;
    overflow-y: auto;
    margin-bottom: 25px;
  }
}
