.about_forWhoTitle {
  margin-bottom: 60px !important;
}

.about_forWhoTextContainer {
  width: 65%;
}

.about_forWhoText {
  margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
  .about_forWhoTextContainer {
    width: auto;
  }
}
