.direction_categoryList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.category_page_title {
  margin-top: 40px;
}

.direction_categoryItem {
  width: 100%;
  grid-column: span 2;
}

.direction_categoryItem:nth-child(5n + 4),
.direction_categoryItem:nth-child(5n + 5) {
  grid-column: span 3;
}

@media screen and (max-width: 1290) {
  .direction_categoryList {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 16px;
  }

  .direction_categoryItem {
    width: 100%;
    grid-column: span 1 !important;
  }

  .direction_categoryItem:nth-child(5n + 4),
  .direction_categoryItem:nth-child(5n + 5) {
    grid-column: span 1 !important;
  }
}

@media screen and (max-width: 780) {
  .direction_categoryList {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 16px;
  }
}
