.about_teamSection {
  background: var(--linear-40);
  overflow: hidden;
}

.about_teamItem {
  background: var(--linear-40);
  border-radius: 40px;
  overflow: hidden;
  height: auto;
}

.about_teamList {
  margin-top: 60px;
}

.about_teamImageContainer {
  width: 100%;
  height: 320px;
}

.about_teamImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_teamItem__info {
  padding: 24px;
}

.about_teamItem_title {
  display: block;
  margin-bottom: 8px;
}
