.mainForm {
  display: flex;
}

.formContainer {
  padding: 40px 75px 80px 75px;
  background: var(--gray-gradient);
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

@keyframes spin {
  from {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(10deg) rotateY(10deg) rotateZ(360deg);
  }
}

.abstractRound {
  content: "";
  position: absolute;
  top: 0;
  background-image: url("/abstract.png");
  width: 700px;
  height: 700px;
  background-repeat: no-repeat;
  right: -10%;
  transform-style: preserve-3d;
  animation: spin 60s linear infinite;
}

.formContainer_inform {
  width: 55%;
}

.formContainer_inform p:nth-child(2) {
  margin: 24px 0;
}

.mainForm_Input {
  padding: 18px;
  background-color: var(--white-6);
  border: none;
  border-radius: 16px;
  margin-right: 16px;
  color: white;
}

.mainform_checkbox {
  margin-top: 24px;
}

.mainform_checkboxText {
  margin-left: 8px;
}

.mainform_checkboxItem:checked {
  accent-color: #4caf50; /* Зелёный цвет */
}

.mainform_checkboxItem {
  background-color: var(--black-70); /* Зелёный цвет */
}

@media screen and (max-width: 1400px) {
  .formContainer {
    padding: 40px 24px;
  }

  .formContainer_inform {
    width: 100%;
  }

  .abstractRound {
    display: none;
  }

  .mainForm {
    flex-direction: column;
  }

  .mainForm_Input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
}
