.partners_card {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--white-6);
  border-radius: 16px;
}

.partners_swiperContainer {
  margin-top: 53px;
}

.partners_cardImageContainer {
  width: 70px;
  height: 70px;
  margin-right: 32px;
}

.partners_cardImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.partners_info span {
  display: block;
}
