.main_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(15px);
  padding: 15px 0;
  z-index: 100;
  border-bottom: 1px solid var(--black-90);
}

.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainLinks {
  display: flex;
  align-items: center;
}
.directionsBtn {
  cursor: pointer;
}

.headerLogoContainer {
  display: block;
  width: 70px;
  height: auto;
}

.headerLogoImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header_linkItem:not(:last-child) {
  padding-right: 30px;
}

.headerButton {
  padding: 16px 24px !important;
  border-radius: 10px !important;
}

.header_socialsContainer {
  display: flex;
  align-items: center;
}

.header_socials {
  display: flex;
  align-items: center;
  margin-right: 36px;
}

.header_socialsIconContainer {
  display: block;
  width: 24px;
  height: 24px;
}

.header_socialsIconContainer:not(:last-child) {
  margin-right: 30px;
}

.header_socialsIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile_menuContainer {
  display: none;
}

.headerCart {
  display: block;
  position: relative;
}

.headerCartInfo {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  background: var(--green-gradient);
  border-radius: 100%;
  bottom: -8px;
  right: -12px;
}

.sub_m {
  margin: auto;
}

.subMenu_area {
  backdrop-filter: blur(10px);
  border: 1px solid var(--green-gradient);
  background-color: #1a1a1a;
  padding: 16px 32px;
  border-radius: 0 0 24px 24px;
  align-items: start;
  display: flex;
  width: auto;
  position: absolute;
  gap: 24px;
  transform: translate3d(-150px, 0px, 0);
}

.menuTitle {
  margin-bottom: 36px;
}

.link_group:not(:last-child) {
  margin-bottom: 36px;

  display: block;
}

.link_group_item_imgContainer {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.link_group_item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.active_menu {
  color: rgba(36, 210, 57, 1);
}

.mobile_menuBurgerContainer {
  width: 28px;
  height: 28px;
  background-image: url("../../../public/burger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 0.3s ease;
}

.mobile_menuBurgerContainer__opened {
  width: 28px;
  height: 28px;
  background-image: url("../../../public/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transform: rotate(180deg);
  transition: 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .hidden_mobile_menu {
    display: none;
  }
  .menu_container {
    display: none;
  }

  .mobile_menuContainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .mobile_logoContainer {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .hidden_mobile_menu {
    position: fixed;
    /* background-color: rgba(36, 210, 57, 0.3); */
    backdrop-filter: blur(15px);
    height: 100%;
    padding: 16px 24px;
    top: 95px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }

  .item_mobile_link_container {
    margin-bottom: 32px;
  }

  .item_link {
    font-size: 24px;
    font-weight: bold;
  }
}
